In [9]:
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞ Î∞è Ï†ïÏùò
import pandas as pd

df = pd.read_csv("Mall_Customers.csv")

In [12]:
# Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [13]:
# ÌÜµÍ≥ÑÎüâ Î∂ÑÏÑù
print(df.describe())

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

In [14]:
# Í∏∞Ï¥à ÌÜµÍ≥ÑÎüâ Î∂ÑÏÑù
# Ï§ëÏã¨ Í≤ΩÌñ•ÏÑ±: ÌèâÍ∑†, Ï§ëÏïôÍ∞í, ÏµúÎπàÍ∞í
print("üìä ÌèâÍ∑†:")
print(df[['Age', 'Annual Income (k$)', 'Spending Score (1-100)']].mean())

print("\nüìç Ï§ëÏïôÍ∞í:")
print(df[['Age', 'Annual Income (k$)', 'Spending Score (1-100)']].median())

print("\nüìå ÏµúÎπàÍ∞í:")
print(df[['Age', 'Annual Income (k$)', 'Spending Score (1-100)']].mode().iloc[0])

üìä ÌèâÍ∑†:
Age                       38.85
Annual Income (k$)        60.56
Spending Score (1-100)    50.20
dtype: float64

üìç Ï§ëÏïôÍ∞í:
Age                       36.0
Annual Income (k$)        61.5
Spending Score (1-100)    50.0
dtype: float64

üìå ÏµúÎπàÍ∞í:
Age                       32.0
Annual Income (k$)        54.0
Spending Score (1-100)    42.0
Name: 0, dtype: float64

In [ ]:
# Î∂ÑÏÇ∞ÏÑ± ÏßÄÌëú: ÌëúÏ§ÄÌé∏Ï∞®, ÏÇ¨Î∂ÑÏúÑÏàò, IQR
print("üìê ÌëúÏ§ÄÌé∏Ï∞®:")
print(df[['Age', 'Annual Income (k$)', 'Spending Score (1-100)']].std())

print("\nüßÆ ÏÇ¨Î∂ÑÏúÑÏàò:")
print("Q1:\n", df.quantile(0.25))
print("Q2 (Ï§ëÏïôÍ∞í):\n", df.quantile(0.50))
print("Q3:\n", df.quantile(0.75))

print("\nüìè IQR (Q3 - Q1):")
iqr = df.quantile(0.75) - df.quantile(0.25)
print(iqr)